<section class="orders-show">

  <header class="page-header">
    <h2>Order #<%= @order.id %></h2>
  </header>

  <div class="order-summary jumbotron">
    <h3>Thank you for your order!</h3>
    <h4>Order details for: <%= @order.email %></h4>
    <h5>Final order amount: <%=humanized_money_with_symbol @order.total_cents / 100.0 %> </h5>
  </div>

  <div class="order-line-items">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">Product</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total Cost</th>
      </tr>
    </thead>
    <tbody>

      <% @order.line_items.each do |item| %>
      <%= render 'line_item', item: item %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          TOTAL:
        </th>
        <th>
          <%= humanized_money_with_symbol @order.total_cents / 100.0 %>

        </th>
      </tr>
    </tfoot>
  </table>
</div>


  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
